<h1>Documentation de l'API</h1>
<h2>Endpoints</h2>
<ul>
    <li>GET /api/catways - Récupère tous les catways</li>
    <li>POST /api/catways - Crée un catway</li>
    <li>GET /api/catways/:id - Détails d'un catway</li>
    <li>DELETE /api/catways/:id - Supprime un catway</li>
</ul>
<a href="/">Retour</a>
